<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>iRobotLab</name>

  <description>
      MyRobotLab integration
  </description>

  <author email="bwtbutler@hotmail.com">
      Branden Butler
  </author>

  <!-- Preferences -->

  <preference name="phonegap-version" value="cli-6.0.0" />

</widget>
